
<h1>Renewable Energy Systems Supply</h1>
<nav>
  <ul>
    <a href="/"><li>Parts</li></a>
    <a href="energy-systems"><li>Energy Systems</li></a>
    <a href="part-categories"><li>Categories</li></a>
    <a href="warehouses"><li>Warehouses</li></a>
  </ul>
</nav>