<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="./js/delete-part.js"></script>
    <script src="./js/delete-intersection.js"></script>
    <title>{{title}}</title>
</head>
<body>

<header>
  {{> nav}}
</header>

    {{{body}}}

    <div id="display-all-forms">
        <button onclick="displayAllForms('hide-on-pageload')">Dev Only: Display All Tables</button>
    </div>
</body>
</html>