@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Bebas+Neue&display=swap');

/**** Sections Styles ****/
html, body {
	min-height: 100%;
	background: #fffffc;
	color: #000;
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}
nav {
  display: inline ;
}
nav ul {
  padding-left: 0px;
}
nav li {
  display: inline;
  padding: 1em 1.5em;
  background-color: #a3e1c4;
}
a.nav-active li,
nav li:hover {
  background-color: #7ed5ac;
}

nav a {
  color: #333;
  text-decoration: none;
}

header {
  padding: 1em 2em;
}
header div {
  position: fixed;
  top: 0px;
  background-color: #fff;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
}
main {
  padding: 7em 2em; 
}

div.page-description {
  margin-bottom: 2em;
}
	
/**** Text Styles ****/	

h1 {
	font-size: 2em;
  margin: 0em 0em 1em 0em;
}
h2 {
  font-size: 1.7em;
  margin: 0em;
}	
p { 
 color: #333;
} 

/**** Other Element Styles ****/
table {
  border-collapse: collapse;
  margin-top: 1em;
  max-width: 100%;
  min-width: 100%
}
thead.sticky {
  position: sticky;
  top: 8em;
}

td {
	padding: .5em;
  vertical-align:center ;
}
tr:nth-child(even):not(.system-parts) {
  background-color: #efefef;
}
th {
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  background-color: #a3e1c4;
}

select {
  padding: 5px 15px;
  font-size: 1em;
  border: solid 1px;
  border-radius: 3px;
  border-color: #333;

  font-family: 'Barlow Condensed', sans-serif;
}

button, input[type=submit] {
  /* margin-left:2em; */
  /* margin-top: .5em; */
  margin-right: 1em;
  vertical-align: baseline;
  padding: 5px 15px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
}

span.faux-button {
  padding: 5px 15px;
  background-color: #eee;
  outline: 1px solid #555;
  border-radius: 2px;
  margin-right: 1em;

}
span.faux-button:hover {
  background-color: #ddd;
  }
.faux-button {
  text-decoration: none;
  color: #333;
}

div.inline-buttons {
  display: inline;
}

div.hide-on-pageload {
  display: none;
}

#display-all-forms {
  position:absolute;
  right: 2em;
  top: 2em;
}

form.db-filter {
  display: inline;
  margin-right: 2em;
}

table.has-id td:first-child {
  width: 3em; 
}

div.parts-checks {
  margin-left:auto;
  margin-right: auto;
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
}
div.parts-check-item {
  
  padding: .25em 1em; 
  margin: .25em; 
}



div#display-all-forms button {
  background-color:plum;
  border-color:darkmagenta;
  border-radius: 5px;
}
div#display-all-forms button:active {
  background-color:rgb(183, 124, 183);
}

button.inactive {
  color: #999;
}

#energy-systems-edit td:first-child {
  width: 2em;
}


.form-buttons {
  width: fit-content;
  margin-left: auto;
  margin-right: 1em;
}

div#page-options {
  margin-bottom: 2em;
}